@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}

body {
  overflow: hidden;
}

header {
  background-color: dodgerblue;
  height: 12rem;
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  font-size: 20px;
  margin: auto;
}

.btn {
  background-color: chocolate;
  height: 30px;
  width: 8%;
  font-size: 18px;
  margin: auto;
}

.btn:hover {
  background-color: gold;
}

.reset {
  background-color: chocolate;
  height: 30px;
  width: 8%;
  font-size: 18px;
  margin: auto;
}

.reset:hover {
  background-color: crimson;
}
canvas {
  border: 2px solid black;
  background-image: url(./images/piste.jpg);
  background-repeat: repeat-x;
}

.randomKey {
  border: 2px solid black;
  background-color: chocolate;
  text-align: center;
}

.keyDisplay {
  border: 2px solid black;
  height: 200px;
  padding-top: 18px;
  font-size: 100px;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
}

.infos {
  border: 2px solid black;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: center;
  margin-top: -4px;
}
