* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

header {
  background-color: dodgerblue;
  height: 12rem;
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  font-size: 20px;
  margin: auto;
}

.btn {
  background-color: chocolate;
  border-radius: 15%;
  height: 30px;
  width: 8%;
  font-size: 18px;
  margin: auto;
}

.reset {
  background-color: chocolate;
  border-radius: 15%;
  height: 30px;
  width: 8%;
  font-size: 18px;
  margin: auto;
}

canvas {
  border: 1px solid black;
  background-image: url(./images/piste.jpg);
  background-repeat: repeat-x;
}

.randomKey {
  border: 2px solid black;
  background-color: chocolate;
  text-align: center;
  padding: 10px;
  height: 50px;
}

.keyDisplay {
  border: 2px solid black;
  height: 144px;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  background-color: darkcyan;
}

.infos {
  border: 2px solid black;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}
